* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #0000008c;
  overflow-x: hidden;
}

.main {
  margin: 0 auto;
}

/* ------------ HEADER TOPO DA PÁGINA */
header {
  background-color: #00cad1;
}

.topo {
  max-width: 1024px;
  margin: 0 auto;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-topo {
  display: flex;
  gap: 20px;
  margin-left: 15px;
  padding: 10px;
}

.links-topo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.links-topo a:hover {
  color: #0000008c;
  cursor: pointer;
}
/*FIM DO HEADER TOPO DA PÁGINA */

/* INÍCIO DO BANNER */
.banner {
  display: flex;
  width: 100%;
  height: 400px;
  background-image: url(../assets/recepcao.png);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}

.banner .titulo {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  max-width: 1024px;
  height: 400px;
  margin: 0 auto;
}

h1 {
  color: #fff;
  /* width: 500px; */
  text-transform: uppercase;
  text-align: left;
  padding: 10px;
  font-weight: normal;
  font-size: 38px;
}
/* FIM DO BANNER */

/* INÍCIO DO SEÇÃO SOBRE */
.sobre {
  max-width: 1024px;
  margin: 0 auto;
}

.sobre .article-sobre {
  padding: 60px 100px 0 100px;
}

.sobre .sobre-titulo-paragrafo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sobre-titulo-paragrafo h2 {
  margin-bottom: 10px;
  font-size: 32px;
}

.sobre-titulo-paragrafo p {
  font-size: 18px;
  margin-bottom: 10px;
  padding: 0 50px;
}

.lista-imagem {
  display: flex;
}

.lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  padding-top: 20px;
}

.lista h3 {
  text-transform: uppercase;
  font-size: 24px;
}

.lista ul {
  padding-top: 10px;
  margin-left: 20px;
  padding-left: 20px;
  list-style-type: disc;
}

.lista li {
  font-size: 18px;
  list-style-type: disc;
}

.sobre-multiespecialidade {
  max-width: 1024px;
  margin: 40px auto;
}

.multiespecialidade-titulo-paragrafo h2 {
  text-align: center;
  margin-bottom: 10px;
}

.multiespecialidade-titulo-paragrafo p {
  text-align: center;
  padding: 0 200px;
  font-size: 18px;
  margin-bottom: 20px;
}

.imagens div {
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;

}

.imagens figure {
  box-shadow: 0px 0px 5px 5px #ac9c9c8c;
  margin: 10px;
}


.imagens img {
  width: 325px;
  height: 250px;
}

.imagens figcaption {
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
}

.sobre-multiespecialidade .link {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.link a {
  background-color: #00cad1;
  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
/* FIM DA SEÇÃO SOBRE */

/* INÍCIO DA SECÃO CONTATO */
#contato {
  width: 100%;
}

.contatos {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  gap: 20px;
}

.contatos h2, p {
  padding: 0 150px;
}

.contatos p {
  font-size: 18px;
}

iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;

}
/* FIM DA SECÃO CONTATO */

/* INÍCIO DA SECÃO FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #0c6e71;
  margin-top: 40px;
  padding-bottom: 20px;
}

.paragrafos-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}
/* FIM DA SEÇÃO FOOTER */


/* PARTE DA RESPONSIVIDADE */
@media (max-width: 426px) {
  .logo-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
  }

  .logo {
    border-bottom: 2px solid #0b56593d;
    width: 100%;
  }

  .banner {
    display: flex;
    width: 100%;
    height: 200px;
    background-image: url(../assets/recepcao.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
  }

  .banner .titulo {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 200px;
    margin: 0 auto;
  }

  .sobre .article-sobre {
    padding: 60px 10px 0 10px;
  }

  h1 {
    font-size: 24px;
  }

  .imagem {
    display: none;
  }

  .imagens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .imagens img {
    display: flex;
    min-width: 325px;
    min-height: 250px;
    /* flex-wrap: wrap; */
  }

  .multiespecialidade-titulo-paragrafo p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 100px;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .multiespecialidade-titulo-paragrafo h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  .contatos h2, p {
    padding: 0 10px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .main {
    padding: 0 10px;
    text-align: center;
  }

  .banner {
    display: flex;
    width: 100%;
    height: 300px;
    background-image: url(../assets/recepcao.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
  }

  .banner .titulo {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 300px;
    margin: 0 auto;
  }

  .sobre .article-sobre {
    padding: 60px 10px 0 10px;
  }

  .imagem {
    display: none;
  }

  .imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .imagens figure {
    flex-basis: 1 1 50%;
    box-sizing: border-box;
  }

  .multiespecialidade-titulo-paragrafo p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 100px;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .contatos h2, p {
    padding: 0 10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  body {
    width: 100%;
  }

  .main {
    padding: 0 auto;
  }

  .banner {
    display: flex;
    width: 100%;
    height: 400px;
    background-image: url(../assets/recepcao.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
  }

  .banner .titulo {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 400px;
    margin: 0 auto;
  }

  .imagens {
    display: flex;
  }
}

@media (min-width: 1025px) {
  .banner {
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(../assets/recepcao.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
  }

  .banner .titulo {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 500px;
    margin: 0 auto;
  }

  .imagens {
    display: flex;
  }
}
/* FIM DA RESPONSIVIDADE  */





